* {
    box-sizing: border-box;
    margin: px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  #img{
    background-color: red;
}
  
  .navbar{
    overflow: hidden;
    background-color: black;
  }
  .navbar a{
    color: white;
    float: left;
    padding: 40px 40px;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
  }
  .navbar a:hover{
    background-color: red;
  }
  .active {
    background-color: rgba(255, 0, 0, 0.671);
  }
  