<div class="navbar">
    <a [routerLink]="['mi-persona']" routerLinkActive="active">Información</a>
    <a [routerLink]="['datos']" routerLinkActive="active">Datos</a>
    <a [routerLink]="['contactos']" routerLink="active">Contactos</a>
  </div>