<script src="https://kit.fontawesome.com/9b8964b768.js" crossorigin="anonymous"></script>
    <div class="container-form">
        <div class="info-form">
            <h2>Contáctame</h2>
            <p>Acá te dejo informacion de contacto, será grato atenderlo</p>
            <a href="https://wa.me/+59171711279"><i class="fa-brands fa-whatsapp"></i>WhatsApp +591 71711279</a>
            <p>Cochabamba - Bolivia</p> 
        </div>
        <form action="https://formsubmit.co/luisfcv1997@gmail.com" method="POST" autocomplete="off">
            <input type="text" name="nombre" placeholder="Tu Nombre" class="campo">
            <input type="emal" name="email" placeholder="Tu Email" class="campo">
            <textarea name="mensaje" placeholder="Tu Mensaje..."></textarea>
            <input type="submit" name="enviar" value="Enviar Mensaje" class="btn-enviar">
            <input type="hidden" name="_next" value="http://localhost:4200">
            <input type="hidden" name="_captcha" value="false">
        </form>
    </div>
