.photo{
    background-image: url(../../../assets/img/789.jpeg);
    width: 500px;
    height: 500px;
    border-radius: 500px;
    /* background-repeat: no-repeat; */
    /* background-position: bottom; */
}

.color{
background-image: url(../../../assets/img/123456.jpg);
color: white;
height: 100vh;
background-size: cover;
}

/* .letra{
    
    color: white;
    
}

.asd{
    margin-bottom: -330px;
}
*/

.move1{
    float: right;
    margin-bottom: -50%;
    margin-top: -13%;
    /* float: right;
    margin-right: 25%;
    margin-bottom: 50%;
    transform: translateX(50%) translateY(50%);
    margin-top: -22%; */
    
} 