<div class="color">
    <div class="photo"></div>
<h1>
   <strong> Sobre mí </strong>
</h1>
<h3>
    Persona seria, puntual, con iniciativa para resolver los problemas <br>
    eficientemente, con facilidad de palabra y muchas ganas de trabajar y aprender, <br>
    cuenta con capacidad de liderazgo y de organización de equipos.
    <br>
    <br>
    <br>
    <br>
  </h3>
        
        <div class="move1">
 <h1>
    <strong>Información Personal</strong>
 </h1>
<div></div>
  <h3>Fecha y lugar de nacimiento: 27 / Noviembre / 1997 Cercado-Cochabamba <br>
    Estado Civil: Soltero <br>
    C.I.: 8847898 Cbba <br> 
    Idiomas: Inglés básico, Español nativo</h3>
        </div>   
    
</div>