<div id="all">


<h1>
    Estudios Realizados
</h1> <br>

<h3>
    Marzo/2022 - a la actualidad
    <br>
    <br>
    <br>
    <br>
    Febrero/2019 - Diciembre/2019
    <br>
    <br>
    <br>
    <br>
    Febrero/2012 -Diciembre/2017
  </h3>
  <div id="move">
    <h3>
    -SOLANING S.R.L. (Capacitación) <br>
    En Desarrollo de aplicaciones Web <br>
    Alumno de 4to mes - Técnico Medio <br><br>
    </h3>
  
  <h3>
    -Instituto Técnico Nacional de comercio Alvarez Plata  Nocturno<br>
    Sistemas Informáticos <br>
    Alumno de 1er año - Técnico Superior <br><br>
  </h3>
  
  <h3>
    -Colegio 8 de Mayo <br>
    Bachiller en Humanidades
  </h3>
  </div>
<br>
<br>
<br>

<h1 class="centro">
    Cursos Complementarios
</h1>
<br>
<br>
<h3>
    -SOLANING S.R.L. (Capacitación) <br>
    Macros, VBA Excel y Programación Orientada a Objetos <br> <br> <br>
    
    -Instituto Técnico Nacional de comercio Alvarez Plata  Nocturno<br>
    Seminario sobre tecnologías emergentes <br> <br> <br>

    -Ambientes de JalaSoft <br>
     Simposio I: Aplicaciones de robótica e Inteligencia Artificial <br> <br> <br>


    -Escuela Quintanilla "A" <br>
    Cursos de Inglés básico

    


</h3>
<br>
<br>
<br>
<br>

<h1 class="centro">
    Experiencia Laboral
</h1>
<br>
<br>
<h3>
    -Café internet "Oscar´s" <br>
    Ciber Internet <br>
    Administrador
</h3>
<br>
<br>
<br>

<h1>
    Habilidades
</h1>
<br><br>
<h2>
    Blandas
</h2>
<br>
<h3>
    -Elaboracion de proyecto de vida <br>
   -Elaboracion de una empresa ficticia
</h3>
<br>
<div class="dsa">
<h2>
    Duras
</h2>
<br>

<h3>
    -Prácticas de programación en HTML, JavaScript, C#, Arduino <br>
   -Programacion de una calculadora (JavaScript y C#) <br>
   -Programacion de un reloj digital (JavaScript) <br>
   -Programacion de un videojuego en una página web (JavaScript) <br>
   -Ensanblado de computadoras
</h3>
</div>
</div>