#all{
    background-image: url(../../../assets/img/14381.jpg);
    color: white;
    height: 100%;
    background-size: cover;

}

 #move {
    float: right;
    margin-right: 35%;
    margin-bottom: 50%;
    margin-top: -14%;
       
}

.centro{
    text-align: center;
}
/*
.dsa{
    float: right;
    margin-top: -100;
    transform: translateX(50%) translateY(50%); 
    margin-right: 25%;
    margin-top: 500px;
} */